@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --accent-color: #b88e2f;
  --background-color: white;
  --text-color: black;
  --background-bannercolor: #fff3e3;
  --footer-line-color: #9f9f9f45;
  --text-color2: #9f9f9f;
  --spacing: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Poppins", "Montserrat", sans-serif;
}

a {
  color: var(--text-color);
}

ul {
  list-style: none;
}

/* HEADER */
header > nav {
  display: flex;
  max-width: 100%;
  height: 80px;
  justify-content: space-between;
}

#logo-header {
  display: flex;
  align-items: center;
  padding: 0 var(--spacing);
}

#logo-header img {
  height: 30px;
}

.logo-text {
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 600;
}

#enlaces-header {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

#enlaces-header li:hover {
  border-bottom: 1px solid var(--text-color);
}

#iconos-header {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: var(--spacing);
  padding: 0 var(--spacing);
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.textoverlay {
  font-size: 10px;
  visibility: hidden;
}

.icons:hover .textoverlay {
  visibility: visible;
}

#iconos-header img {
  height: 20px;
}

.menu {
  display: none;
}

@media (max-width: 1050px) {
  #iconos-header,
  #enlaces-header {
    display: none;
  }

  .menu {
    display: flex;
    align-items: center;
    padding-right: var(--spacing);
  }

  .menu img {
    height: var(--spacing);
  }
}

/* PRINCIPAL BANNER */

#principal-banner {
  background-image: url(/assets/image-banner.png);
  height: 600px;
  background-position: center;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 50px;
}

#content-cta {
  width: 500px;
  height: 330px;
  background-color: var(--background-bannercolor);
  padding: var(--spacing);
}

.title2 {
  text-transform: capitalize;
  letter-spacing: 3px;
  font-weight: 600;
  margin-bottom: 0;
}

h1 {
  text-transform: capitalize;
  color: var(--accent-color);
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 700;
  padding: 10px 0px;
}

.textbanner {
  font-size: 15px;
  margin-bottom: var(--spacing);
}

.button1 {
  background-color: var(--accent-color);
  padding: 15px 45px;
  color: var(--background-color);
  text-transform: uppercase;
  font-size: 15px;
}

.button1:hover {
  background-color: var(--text-color);
}

@media (max-width: 1050px) {
  #principal-banner {
    justify-content: center;
    padding-right: 0;
  }

  #content-cta {
    width: 70%;
    height: auto;
  }
}

/* ROOMS BANNERS */

#rooms {
  margin: 80px auto;
}
h2 {
  text-transform: capitalize;
  text-align: center;
}

#rooms > p {
  text-align: center;
}

#rooms nav {
  max-width: 80%;
  display: inline;
}

#rooms ul {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

#rooms li {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#rooms img {
  border-radius: 20px;
  padding-bottom: 20px;
}

#rooms img:hover {
  transform: scale(1.1);
}

#rooms a {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}

/* FOOTER */

footer {
  border-top: 2px solid var(--footer-line-color);
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

#copyright {
  border-top: 2px solid var(--footer-line-color);
  padding: 20px;
}

footer > div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer p {
  color: var(--text-color2);
}

footer h3 {
  margin-bottom: var(--spacing);
}

footer a:hover {
  border-bottom: 1px solid var(--text-color);
}

.address {
  margin: 0;
}

section p {
  margin-bottom: var(--spacing);
}

footer section {
  padding: 60px 60px;
}

#links ul,
#help ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#newsletter form {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

input[type="email"] {
  border: none;
  border-bottom: 1px solid var(--text-color);
  width: 160px;
  padding: 5px;
  text-transform: capitalize;
}

#email:focus {
  border: 1px solid var(--text-color);
}

input[type="submit"] {
  border: none;
  border-bottom: 1px solid var(--text-color);
  background-color: transparent;
  padding-bottom: 5px;
  width: 85px;
  text-transform: uppercase;
}

#subscribe:focus {
  border: 1px solid var(--text-color);
  padding-top: 5px;
}
